.App {
  position: relative;
}

/*********************************
Layout jumbotron
*********************************/
#jumbo {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: white;
}
  
.jumbotron h1, h3{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.thumbnail img {
  height:120px;
  width:100px;
}

#line{
  border-top: 1.5px solid wheat;
  margin-right: 20%;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.content {
  position: relative;
  padding-top: 80px;
}

.content p {
  margin-bottom: 10px;
}

/*********************************
Product layout
*********************************/

.products{
  margin-left: 25%;
  margin-right: 2%;
}

/*********************************
Product Input Form
*********************************/
h1,
p,
form button {
  color: white;
}

form {
  background: white;
  display: inline-block;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  border-radius: .2em;
  border: solid 4px white;
}

.uploadForm{
  float: left;
  left: 50%;
  position: relative;
  width: 30%;
  margin: 10px 0 0 10px; 
}

.hideSelectForm{
  float: left;
  left: 32%;
  position: relative;
  margin-left: 0px; 
  margin-top: 4%;
  width: 20%; 
}

ul.product {
  float: right;
  position: relative;
  width: 70%;
}

.productList{
  list-style-type: none;
  float: right;
  position: relative;
  right: 15%;
}

.counter{
  float: left;
  position: relative;
  margin-top: 4%; 
  left: 1%;
}

.productForm{
  width: 80%;
  float: right;
  right: 90%;
  background: white;
  display: inline-block;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  border-radius: .2em;
  border: solid 4px white;
  -webkit-box-shadow: 0 1px 14px rgba(0, 0, 0, .12);
  box-shadow: 0 1px 14px rgba(0, 0, 0, .12);
}

form button {
  padding: 0 1em;
  font-size: 1em;
  background: #7bcbc4;
  border-radius: .2em;
}

button {
  cursor: pointer;
}

input,
button {
  border: none;
  outline: none;
}

header input {
  padding: 1px;
  font-size: 1.15em;
  width: 100%;
}

li span,
li input[type=text] {
  color: #707070;
  font-size: 1.3em;
  margin-bottom: .3em;
}

li input[type=text] {
  padding: .2em;
  width: 95%;
  border: 1px dotted rgba(0, 0, 0, .2);
}


input[type="checkbox"] {
  margin-right: 5px;
}

li label {
  font-size: .9em;
  display: block;
  color: rgba(112, 112, 112, .55);
}

li span,
li input[type=text]:first-child {
  display: block;
}

li button {
  font-size: .78em;
  margin-top: 1.65em;
  margin-right: .4em;
  border-radius: .3em;
  padding: .4em .6em;
  color: white;
  background: #58b7cd;
}

li button:last-child {
  background: rgba(88, 183, 205, .5);
}

div > input:last-child {
  font-size: 1em;
  margin-left: 6px;
}

div > label {
  color: #767676;
}

.counter {
  display: block;
}

tr {
  color: rgba(118, 118, 118, .75);
}

td:last-child {
  font-weight: bold;
  font-size: 1.16em;
  color: rgb(118, 118, 118);
}
/* pending */

.pending {
  border-color: rgba(210, 210, 210, .5);
}

.pending span {
  color: rgb(210, 210, 210);
}
/* responded */

.responded {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-color: rgba(88, 183, 205, .9);
}

.responded label {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: rgba(88, 183, 205, 1);
}


/*********************************
Header navigation
*********************************/
#header {
  height: 60px;
  line-height: 80px;
  background-color: #F8F8F8;
  border-width: 2px;
  border-color: #ddd;
  border-style: solid;
  color: #0074C2;
}

#header h1 {
  margin-left: 5px;
  margin-top: 1%;
  text-transform: uppercase;
  font-size: 1.2em;
}

#nav {
  position: absolute;
  right: 0;
  top: -15px;
  height: 60px;
}

#nav ul li {
  float: left;
  list-style: none;
  list-style-type: none;
}

#nav ul li a {
  display: block;
  color: #0074C2;
  text-decoration: none;
  padding: 0 10px;
  margin-top: 10%;
}


/*********************************
Product search
*********************************/

.Select-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px;
}

.Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
  position: relative;
}

.Select-control {
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 10%;
}

.Select--single>.Select-control .Select-value, .Select-placeholder {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*********************************
Sidebar navigation
*********************************/
.wrap {
  width: 15%;
  height: 1820px;
  float: left;
  border-color: #ddd;
  border-width: 2px;
  border-style: solid;
  background-color: #F8F8F8;
}

.wrap ul{
  list-style-type: none;
  position: relative;
  display: block;
  padding-left: 1px;
}

.wrap ul li{
  margin-top: 5%;
  margin-bottom: 5%;
  border-bottom: 1px solid #e7e7e7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(231, 231, 231);
}

.wrap ul li a{
  color: #0074C2;
}

#search{
  width: 85%;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

/*********************************
Layout for diagramms and for the
sketchfab-model
*********************************/
h1, h2{
  color: darkgrey;
}

.line{
  height: 500px
}

h4.panel-title{
  font-size: 13px;
}

.panel.panel-default{
  background-color: white;
  border-bottom-color: white;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
}

.panel.panel-default > .panel-heading{
  background-color: white;
  text-align: center;
}

.panel-default > .panel-heading panels.less + .panel-collapse > .panel-body{
  border-top-color: wheat;
  width:1580px;
}

.panel{
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
  border-radius: 0px;
  margin-top: 5px;
  text-align: center;
  width: 100%;
  height: 100%;
}


.panel-inlay{
  background-color: #F5F5F5;
  border-bottom: 2px solid #ddd;
  width: 100%;
  height: 100%;
}

/*********************************
Button
*********************************/
.upload{
  display:inline-block;
}

.start-simulation{
  margin-left: 0%;
}

.upload-action{
  margin-left: 15.5%;
}

.action-Button{
  margin-top: 230px;
  display: inline-block;
  border-radius: 4px;
  background-color: #f5f5f5;
  border: solid;
  border-color: #ddd;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  color: black;
  text-align: center;
  padding: 1px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-size: 15px;
}

.action-Button_2{
  margin-left:30%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right:5%;
  display: inline-block;
  border-radius: 4px;
  background-color: #f5f5f5;
  border: solid;
  border-color: #ddd;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  color: black;
  text-align: center;
  padding: 1px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 15px;
}

input[type="file"] {
  display: none;
}
/*********************************
SVG elements
*********************************/

.react-d3-core__container_svg{
  width: inherit;
  height:inherit;
}

.react-d3-core__container_svg  g{
  transform: translate(160, 40);
}

.react-d3-core__legend.legend{
  width: 400px;
  text-align: left;
} 


/*********************************
Footer
*********************************/

footer {
  clear: both;
  display: block;
  width: 100%;
  padding: 3px 100px;
  margin: 0 auto;
  height: 80px;
  background-color: #131313;
  background-size: 20px 20px;
  color: #ccc;
}

footer section {
  float: left;
  width: 33.3%;
}

footer h2 {
  font-size: 1em;
}

footer p {
  font-size: 0.8em;
}

footer a {
  color: #ccc;
}
