.App {
  position: relative;
}

/*********************************
Layout jumbotron
*********************************/
#jumbo {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: white;
}
  
.jumbotron h1, h3{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.thumbnail img {
  height:120px;
  width:100px;
}

#line{
  border-top: 1.5px solid wheat;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.content {
  position: relative;
  padding-top: 80px;
}

.content p {
  margin-bottom: 10px;
}

/*********************************
Product layout
*********************************/

.products{
  margin-left: 25%;
  margin-right: 2%;
}

/*********************************
Header navigation
*********************************/
#header {
  height: 60px;
  line-height: 80px;
  background-color: #F8F8F8;
  border-width: 2px;
  border-color: #ddd;
  border-style: solid;
  color: #0074C2;
}

#header h1 {
  margin-left: 5px;
  margin-top: 1%;
  text-transform: uppercase;
  font-size: 1.2em;
}

#nav {
  position: absolute;
  right: 0;
  top: -15px;
  height: 60px;
}

#nav ul li {
  float: left;
  list-style: none;
}

#nav ul li a {
  display: block;
  color: #0074C2;
  text-decoration: none;
  padding: 0 10px;
  margin-top: 10%;
}

/*********************************
Sidebar navigation
*********************************/
.wrap {
  width: 15%;
  height: 1589px;
  float: left;
  border-color: #ddd;
  border-width: 2px;
  border-style: solid;
  background-color: #F8F8F8;
}

.wrap ul{
  list-style-type: none;
  position: relative;
  display: block;
  padding-left: 1px;
}

.wrap ul li{
  margin-top: 5%;
  margin-bottom: 5%;
  border-bottom: 1px solid #e7e7e7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(231, 231, 231);
}

.wrap ul li a{
  color: #0074C2;
}

#search{
  width: 85%;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

/*********************************
Layout for diagramms and for the
sketchfab-model
*********************************/
h1, h2{
  color: darkgrey;
}

h4.panel-title{
  font-size: 13px;
}

.panel.panel-default{
  background-color: white;
  border-bottom-color: white;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
}

.panel.panel-default > .panel-heading{
  background-color: white;
  text-align: center;
}

.panel-default > .panel-heading panels.less + .panel-collapse > .panel-body{
  border-top-color: wheat;
  width:1580px;
}

.panel{
  border-color: #ddd;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  margin-top: 5px;
}

.panel-inlay{
  background-color: #F5F5F5;
  border-bottom: 2px solid #ddd
}

/*********************************
Button
*********************************/

#calculation{
  margin-top: 230px;
}

/*********************************
SVG elements
*********************************/

.react-d3-core__container_svg{
  width: 99%;
}

.react-d3-core__container_svg  g{
  transform: translate(160, 40);
}

/*********************************
Footer
*********************************/

footer {
  clear: both;
  display: block;
  width: 100%;
  padding: 3px 100px;
  margin: 0 auto;
  height: 80px;
  background-color: #131313;
  background-size: 20px 20px;
  color: #ccc;
}

footer section {
  float: left;
  width: 33.3%;
}

footer h2 {
  font-size: 1em;
}

footer p {
  font-size: 0.8em;
}

footer a {
  color: #ccc;
}
